{% extends "base.html" %}

{% block content %}
    <div class="container">

        {% if pessoas %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                    <th>Profissão</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.cpf }}</td>
                    <td>{{ pessoa.endereco }}</td>
                    <td>{{ pessoa.profissao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhuma pessoa cadastrada.</p>
        {% endif %}
        <a href="/form" class="btn btn-primary">Adicionar Nova Pessoa</a>
    </div>
{% endblock %}